<a href="https://colab.research.google.com/github/eaglehkim/Program/blob/main/sssssssssssstart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

/content/testttt.txt
/content/teststs.csv

**2021 - 11 - 11**

눈 앞에 여러 물건이 있다. 무엇을 집겠는가? 1과일 2떡 3수정구슬
1 - 과일을 선택 당신은 생각이 많고 진지해보이는 연상에게 반하는 타입
2 - 떡을 선택 당신은 무드에 약해 화술과 매너가 좋은 사람에게 끌리는 타입
3 - 수정구슬을 선택 당신은 정열적이고 열중하는 타입의 이성에게 끌리는 타입

In [ ]:
print("======================================================================================")
print("======                눈 앞에 여러 물건이 있다. 무엇을 집겠는가?                ======")
print("======================================================================================")
print("======                                  1:과일                                  ======")
print("======                                  2:떡                                    ======")
print("======                                  3:수정구슬                              ======")
choice = int(input("======                     선택번호 --> "))

if choice == 1:
  print("======     과일을 선택 당신은 생각이 많고 진지해보이는 연상에게 반하는 타입     ======")
elif choice == 2:
  print("======   떡을 선택 당신은 무드에 약해 화술과 매너가 좋은 사람에게 끌리는 타입   ======")
elif choice == 3:
  print("======  수정구슬을 선택 당신은 정열적이고 열중하는 타입의 이성에게 끌리는 타입  ======")
else:
  print("======                         1~3번중에 다시 고르시오                          ======")

======================================================================================
======                눈 앞에 여러 물건이 있다. 무엇을 집겠는가?                ======
======================================================================================
======                                  1:과일                                  ======
======                                  2:떡                                    ======
======                                  3:수정구슬                              ======
======                     선택번호 --> 5
======                         1~3번중에 다시 고르시오                          ======

번호판이 무엇입니까?
a = 377모4726
b = 38육4104
c = 66무3333

In [ ]:
string = input('번호판 스캔 중 --> ')

if string == '377모4726':
  print('☆★☆★내부인, 통과☆★☆★')
elif string == '38육4104':
  print('☆★☆★내부인, 통과☆★☆★')
elif string == '66무3333':
  print('☆★☆★내부인, 통과☆★☆★')
else:
  print('※※※※외부인,통과불가※※※※')

번호판 스캔 중 --> 23r2e4fwe
※※※※외부인,통과불가※※※※

임의의 정수 3개를 받아서 최대값을 구해라

In [ ]:
a, b, c = map(int, input().split())

nMax = a

if b > nMax:
  nMax = b

if c > nMax:
  nMax = c

print(nMax)

3 1 2
3

In [ ]:
# a, 1 1학년 2 2학년 3 3학년
# b, 90 A 80 B C 70 else D
print("학년과 점수를 공백으로 입력하시오:", end='')
grade, score = map(int, input().split())

if 0 <= score <=100 and 1 <= grade <= 3:
  if 90 <= score <= 100:
    score = 'A'
  elif 80 <= score < 90:
    score = 'B'
  elif 70 <= score < 80:
    score = 'C'
  else:
    score = 'D'
  print("학년:{0}, 학점:{1}".format(grade, score))

else:
  print('잘못 입력하셨습니다.')

학년과 점수를 공백으로 입력하시오:3 45
학년:3, 학점:D

**2021 - 11 - 16**

In [15]:
num = input('number? ')

if num.isnumeric():
  num = int(num)
  if num > 0:
    print('pos')
  elif num == 0:
    print('zero')
  else:
    print('neg')
else:
  print('must be number')

number? 546
pos

In [18]:
myList = [1, 2, 3, 'a']
print(myList)

[1, 2, 3, 'a']

In [19]:
myList.append(5)
myList

[1, 2, 3, 'a', 5]

In [25]:
myList2 = ['Python', 'AI', 'Bigdata', 23123, 'A']
myList2
myList2.append(8949)
myList2.append("C")
myList2

'Python'

In [28]:
myList2[1]

'AI'

In [31]:
myList3 = [8456,8496456,8484,1,1,1,1,1,1,1,1,1,5498,2,2,2,2,2,2,2,49849,46,549,849,455555,45555,849]
myList3.sort()
print(myList3)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 46, 549, 849, 849, 5498, 8456, 8484, 45555, 49849, 455555, 8496456]

In [34]:
myList3.reverse()
print(myList3)

[8496456, 455555, 49849, 45555, 8484, 8456, 5498, 849, 849, 549, 46, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [37]:
myList3.count(849)

2

In [38]:
myList4 = ['C', 'Python', 'Java', 'JavaScript', 'C++', 'C', 'Python']
myList4.count('Python')

2

In [43]:
a = [1,2,3,4,5,6,7,8,9,10]
b = list(range(1,11))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
c = list(range(1,11,3))
print(c)

[1, 4, 7, 10]

In [51]:
for i in [1,2,3,4,'a', 'python']:
  print(i, end=' ')

1 2 3 4 a python

In [53]:
for i in range(1, 11):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [54]:
for i in range(5):
  i += 1
  print(i, end=' ')

1 2 3 4 5

In [57]:
for i in range(1,6):
  if i % 2 != 0:
    print(i, end=' ')

1 3 5

In [64]:
for i in range(1,10):
  print("3 * {} = {:2}".format(i, 3*i))

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [65]:
num = int(input())

for i in range(1, 10):
  print("{} * {} = {:2}".format(num, i, num*i))

9
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [67]:
for i in range(5, 0, -1):
  print(i, end=' ')

5 4 3 2 1

In [68]:
num = int(input())
nSum = 0
for i in range(1, num + 1):
  nSum += i
print(nSum)

10
55

In [77]:
run = True
i = 0
while run:
  number = int(input('(To exit, input 0) --> '))
  print(number)
  if number == 0:
    run = False # kill-code
    print("exit")

(To stop input 0) --> 8
8
(To stop input 0) --> 20
20
(To stop input 0) --> 4594
4594
(To stop input 0) --> 0
0
exit

In [80]:
run = True
while run:
  ans = input('capital city of S.K --> ')
  if ans == '서울' or ans == 'SEOUL' or ans == 'seoul':
    run = False
    print('correct')
  else:
    print('wrong, again')

capital city of S.K --> 베를린
wrong, again
capital city of S.K --> 뉴욕
wrong, again
capital city of S.K --> 워싱턴
wrong, again
capital city of S.K --> 브라질리아
wrong, again
capital city of S.K --> seoul
correct